@charset "UTF-8";

@font-face {
    font-family: "PT Sans Narrow";
    src: url("fonts/PTSansNarrowRegular/PTSansNarrowRegular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "PT Sans Narrow Bold";
    src: url("fonts/PTSansNarrowBold/PTSansNarrowBold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

body {
    font: 700 100% "PT Sans Narrow", sans-sarif;
    color: #fff;
    text-transform: uppercase;
    background: #070707 url("../img/background-main.jpg") no-repeat center top;
    min-width: 960px;
    margin: 0;
}

.inner-page {
    background: #fcf9f6 url("../img/background-shop.jpg") repeat;
    color: #000;
}


.main-header {
    width: 100%;
    background: #000;
    margin-bottom: 60px;
}


.wrap-container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.wrap-container p,h2,h1,ul{
    margin: 0;
}


.main-page .main-list {
    float: left;
    width: 780px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.main-page li {
    float: left;
    line-height: 20px;
    vertical-align: top;

}

.main-page a {
    display: inline-block;
    padding: 25px 20px;
    color: #fff;
    text-decoration: none;
}

.main-page a:hover {
    background: #242424;
}

.main-page .active a {
    position: relative;
}

.main-page .active a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 5px;
    background: #fff;
}

.main-page .active a:hover {
    background: none;
}

.user-block {
    float: right;
    text-align: center;
    max-width: 140px;
}

 .user-block .login {
    position: relative;
    display: inline-block;
    padding: 25px 20px;
    padding-left: 50px;
    line-height: 20px;
}

.user-block .login::before {
    content:"";
    position: absolute;
    top: 28px;
    left: 20px;
    width: 18px;
    height: 16px;
    background: url("../img/spritesheet.png") -57px -5px no-repeat;
    opacity: .3;
}

.login:hover::before {
    opacity: 1;
}

.logo {
    width: 368px;
    height: 204px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.features-row {
    margin-bottom: 80px;
}

.features-item {
    text-align: center;
    float: left;
    width: 300px;
    margin-right: 20px;
}

.features-item:last-child {
    margin-right: 0;
}

.features-item p {
    margin: 0;
    font-size: 87.5%;
    line-height: 24px;
}

.features-item h2 {
    position: relative;
    margin: 0;
    margin-bottom: 30px;
    font-size: 187.5%;
    height: 80px;

}

.features-item h2::after {
    content:"";
    position: absolute;
    display: block;;
    background: #fff;
    width: 20px;
    height: 20px;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    transform: rotate(45deg);
}

.index-content {
    position: relative;
    padding: 50px 80px;;
    color: #000;
    background: #fcf9f6 url("../img/background-shop.jpg");
    margin-bottom: 34px;
}

.content-column-left {
    float: left;
    width: 390px;
    background: url("../img/divider.png") no-repeat;
    background-size: 8px 100%;
    background-position: 100%;

}

.content-column-right {
    float: left;
    width: 300px;
    margin-left: 70px;
}

.index-content p {
    margin: 0;
    font-size: 87.5%;
    line-height: 24px;
    margin-bottom: 25px;
    width: 320px;
}


.news {
    text-decoration: none;
    color: #000;
}

.btn-news {
    margin-top: 5px;
}

.index-content time {
    font-family: Georgia, sans-serif;
    font-style: italic;
    font-weight: 100;
    text-transform: lowercase;
}


.index-content h2 {
    margin: 0;
    font-size: 187.5%;
    margin-bottom: 30px;
}

.gallery-content {
    margin: 0;
}

.gallery-content .gallery-img {
    border: 7px solid #fff;
    background: #c0c0c0;
}

.btn {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border: 0;
    font: 700 87.5% "PT Sans Narrow", sans-sarif;
    padding: 12px 29px;
    background: #000;
    margin-right: 16px;
    outline: none;
}

.btn:last-child {
    margin-right: 0;
}

.btn:hover {
    background: #663d15;
}

.appointment-form button {
    margin-top: 21px;
    text-transform: uppercase;
    width: 100%;
}

.btn-contact {
    margin-top: 49px;
}

.gallery-content .btn-gallery {
    margin-top: 33px;
}

.btn-gallery .gallery-prev {
    width: 140px;
    text-transform: uppercase;

 }

.btn-gallery .gallery-next {
    width: 140px;
    text-transform: uppercase;
}

.appointment-form input {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 106px;
    border: 2px solid #000;
    outline: none;
    padding: 10px 15px;
    background: #fff;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 87.5%;
}

.appointment-form input:focus {
    border: 2px solid #663d15;
}

.appointment-form input:nth-child(2n) {
    margin-right: 0;
}

.appointment-form input:nth-child(n+3) {
    margin-bottom: 13px;
}

.inner-page-title {
    margin-bottom: 50px;
}

.inner-page-title h1 {
    font-size: 185.7%;
    margin-bottom: 20px;
}
.inner-page-title .breadcrumbs {
    padding: 0;
}

.inner-page-title li {
    position: relative;
    font-size: 87.5%;
    padding-right: 40px;
    list-style: none;
    display: inline;
}

.inner-page-title li::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 25%;
    right: 16px;
    transform: rotate(45deg);
    background: #000;
}

.inner-page-title li:last-child::after {
    content: "";
    display: none;
}

.inner-page-title a {
    text-decoration: none;
    color: #000;
}

.inner-page-title a:hover {
    text-decoration: underline;
}

.inner-page-title.correct {
    margin-bottom: 0;
}

.inner-content h2 {
    font-size: 150%;
    margin-bottom: 35px;

}

.inner-content ul, table {
    padding: 0;
    list-style: none;

}
.big-heading {
    text-align: center;
    margin-top: 65px;
    margin-bottom: 70px;
}

.big-heading h2 {
    position: relative;
    display: inline;
    font-size: 300%;
    margin: 0;
    padding: 0 25px;
    line-height: 48px;
    text-align: center;
    background: #fcf9f6 url("../img/background-shop.jpg");
    z-index: 2;
}

.big-heading::after {
    content: "";
    display: block;
    position: relative;
    top: -23px;
    border-bottom: 2px solid #000;
    z-index: 1;
}


.inner-content-columns {
    margin-bottom: 60px;
}

.inner-content li {
    position: relative;
    padding-left: 20px;
    padding-bottom: 17px;
}

.inner-content li::before {
    content:"";
    position: absolute;
    width: 8px;
    height: 8px;
    top: 7px;
    left: 1px;
    transform: rotate(45deg);
    background: #000;
}

.inner-content-table {
    width: 100%;
}

.inner-content-table td {
    width: 50%;
    height: 40px;
    padding-left: 17px;
    border: 2px solid #000;
}

.inner-content-table td:nth-child(2n) {
    text-align: center;
}

.inner-content p {
    font-size: 87.5%;
}

.inner-column-left {
    float: left;
    margin-right: 20px;;
    width: 460px;
}

.inner-column-left h2 {
    margin-bottom: 30px;
}

.inner-column-right {
    float: left;
    width: 460px;
}

.inner-column-text p{
    float: left;
    width: 380px;
    margin-right: 100px;
    margin-bottom: 80px;
}

.inner-column-text p:last-child {
    margin-right: 0;
}

.main-footer {
    width: 100%;
    margin-top: 30px;
    font-size: 87.5%;
    padding-top: 60px;
    padding-bottom: 65px;
    background: #222 url("../img/footer.jpg");
    color: #fff;
}

.main-footer p {
    margin: 0;
}

.main-footer a {
    color: #fff;
}

.footer-contacts {
    float: left;
    width: 300px;
    margin-right: 100px;
}

.footer-social {
    float: left;
    text-align: center;
}

.footer-social p {
    margin-bottom: 5px;
}


.footer-social .social-btn-vk {
    position: relative;
    display: inline-block;
    background: #000;
    line-height: 35px;
    width: 43px;
    height: 43px;
    margin-right: 6px
}

.footer-social .social-btn-vk::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 9px;
    margin-top: 13px;
    background: url("../img/spritesheet.png") -291px -4px no-repeat;
    width: 25px;
    height: 16px;
}

.footer-social .social-btn-vk:hover {
    background: #fff;
}

.footer-social .social-btn-vk:hover::before {
    background: url("../img/spritesheet.png") -326px -4px no-repeat;
}

.footer-social .social-btn-fb {
    position: relative;
    display: inline-block;
    background: #000;
    line-height: 35px;
    width: 43px;
    height: 43px;
    margin-right: 6px
}


.footer-social .social-btn-fb::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 15px;
    margin-top: 11px;
    background: url("../img/spritesheet.png") -86px -5px no-repeat;
    width: 12px;
    height: 21px;
}

.footer-social .social-btn-fb:hover {
    background: #fff;
}

.footer-social .social-btn-fb:hover::before {
    background: url("../img/spritesheet.png") -108px -5px no-repeat;
}

.footer-social .social-btn-inst {
    position: relative;
    display: inline-block;
    background: #000;
    line-height: 35px;
    width: 43px;
    height: 43px;
    margin-right: 6px
}

.footer-social .social-btn-inst::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 11px;
    margin-top: 11px;
    background: url("../img/spritesheet.png") -130px -6px no-repeat;
    width: 21px;
    height: 21px;
}

.footer-social .social-btn-inst:hover {
    background: #fff;
}

.footer-social .social-btn-inst:hover::before {
    background: url("../img/spritesheet.png") -161px -6px no-repeat;
}

.footer-social a:last-child {
    margin-right: 0;
}

.footer-social img {
    display: inline-block;
    vertical-align: middle;
}

.footer-copyright {
    float: right;
    text-align: center;
}

.footer-copyright .performer {
    display: inline-block;
    background: #000;
    padding: 12px 28px;
    text-decoration: none;
}

.footer-copyright .performer:hover {
    background: #fff;
    color: #000;
}

.footer-copyright p {
    margin-bottom: 5px;
}

.connect {
    position: fixed;
    display: none;
    background: #fcf9f6 url("../img/background-shop.jpg") repeat;
    top: 0;
    left: 50%;
    margin-top: 120px;
    margin-left: -230px;
    width: 300px;
    padding: 50px 80px;
    box-shadow: 0 30px 50px rgba(0,0,0,0.5);
    color: #000;
    z-index: 3;
}

.connect h2 {
    margin-top: 0;
    margin-bottom: 22px;
    font-size: 187.5%;
}

.connect p {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 87.5%;
}


.restore {
    color: #000;
    font-size: 87.5%;
    padding-top: 2px;
}

.restore:hover {
    color:#663d15;
}

.connect-form label, input {
    font-size: 87.5%;
}

.connect input[type="text"],
.connect input[type="password"] {
    width: 240px;
    border: 2px solid #000;
    margin-bottom: 10px;
    padding: 10px 16px;
    padding-right: 40px;
    text-transform: uppercase;
    outline: none;
}

.connect input.connect-login + label {
    position: relative;
}

.connect input.connect-login + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -35px;
    width: 18px;
    height: 18px;
    background: url("../img/spritesheet.png") -192px -4px no-repeat;
}

.connect input.connect-password + label {
    position: relative;
}

.connect input.connect-password + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -35px;
    width: 18px;
    height: 18px;
    background: url("../img/spritesheet.png") -248px -4px no-repeat;
}

.connect input:focus {
    border-color: #663d15;
}

.restore {
    float: right;
}

.connect-form input[type="checkbox"] {
    display: none;
}

.connect-form input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    padding-left: 30px;
    cursor: pointer;
}

.connect-form input[type="checkbox"] + label:hover {
    color: #663d15;
}

.connect-form input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #000;
}

.connect-form input[type="checkbox"]:checked + label::before {
    content: "";
    background: url("../img/spritesheet.png") -3px -3px no-repeat;
}

.connect button {
    width: 100%;
    margin-top: 18px;
}

.connect-close {
    position: absolute;
    background: url("../img/spritesheet.png") -27px -5px no-repeat;
    width: 21px;
    height: 21px;
    cursor: pointer;
    top: 0;
    right: -50px;
    margin-top: 24px;
}

@keyframes bounce {
    0%   { transform: translateY(-500px) ;}
    70%  { transform: translateY(-10px)  ;}
    80%  { transform: translateY(-5px)   ;}
    100% { transform: translateY(0px)    ;}
}

.connect-show {
    display: block;
    animation: bounce 0.6s;
}

.connect-static {
    display: block;
    position: inherit;
    margin: 0 auto;
    box-shadow: none;

}

.map {
    position: fixed;
    display: none;
    top: 0;
    left: 50%;
    margin-left: -390px;
    margin-top: 50px;
    border: 5px solid #fff;
    width: 750px;
    height: 590px;
    background: #fcf9f6 url("../img/background-shop.jpg");;
}

.map-close {
    position: absolute;
    background: url("../img/spritesheet.png") -27px -5px no-repeat;
    width: 21px;
    height: 21px;
    cursor: pointer;
    top: 0;
    right: -50px;
    margin-top: 24px;
}

.map-show {
    display: block;
}

.map-static {
    position: inherit;
    display: block;
    margin: 0 auto;
}

.goods {
    width: 940px;
    margin-bottom: 44px;
}

.goods-list {
    float: left;
    width: 170px;
}

.goods-list h2 {
    margin-bottom: 30px;
}

.form-producer, .form-group-goods {
    font-size: 87.5%;
}

.form-producer input[type="checkbox"] {
    display: none;

}

.form-producer input[type="checkbox"] + label {
    position: relative;
    padding-left: 43px;
    margin-bottom: 17px;
    display: block;
    cursor: pointer;
}

.form-producer input[type="checkbox"] + label:hover {
    color: #663d15;
}

.form-producer input[type="checkbox"] + label:last-child {
    margin-bottom: 46px;
}

.form-producer input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #000;
    width: 16px;
    height: 16px;
}

.form-producer input[type="checkbox"]:checked + label::before {
    content: "";
    background: url("../img/spritesheet.png") -3px -3px no-repeat;
}

.form-group-goods input[type="radio"] {
    display: none;
}

.form-group-goods input[type="radio"] + label {
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 43px;
    margin-bottom: 17px;
    line-height: 100%;
}

.form-group-goods input[type="radio"] + label:hover {
    color: #663d15;
}

.form-group-goods input[type="radio"] + label::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: -2px;
    left: 0;
    border: 2px solid #000;
    border-radius: 50%;
}

.form-group-goods input[type="radio"]:checked + label::before {
    content: "";
    background: url("../img/spritesheet.png") -269px -1px no-repeat;
}


.goods-block {
    float: right;
    width: 720px;
    margin-top: 6px;
    font-size: 87.5%;
}

.goods-block article {
    float: left;
    width: 220px;
    height: 286px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
    margin-right: 20px;
    margin-bottom: 20px;
    background: #fff;
}

.goods-block article:nth-child(3n) {
    margin-right: 0;
}
.goods-block article:nth-child(n+4) {
    margin-bottom: 0;
}

.img-trading {
    display: block;
}

.goods-content {
    padding: 15px;
}

.goods-content .title-goods {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #000;
}

.goods-content .title-goods:hover {
    display: inline-block;
    text-decoration: underline;
}

.goods-content span{
    text-transform: none;
}

.block-buy {
    margin-top: 12px;
}

.price-block-left {
    float: left;
    display: inline-block;
    text-align: center;
    padding: 13px 16px;
    background: #e5e5e5;
}

.btn-buy {
    float: left;
    display: inline-block;
    padding: 13px 22px;
    background: #000;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-buy:hover {
    background: #663d15;
}

.pagination {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.btn-pagination {
    display: inline-block;
    padding: 12px 18px;
    background: #000;
    text-decoration: none;
    margin-right: 3px;
    color: #fff;
}

.btn-pagination:hover {
    background: #663d15;
}

.btn-pagination:first-child {
    background: #fff;
    color: #000;
}

.info-goods {
    width: 100%;
}

.info-block-left {
    float: left;
    width: 460px;
    margin-right: 90px;
}

.info-block-left .wrapper-img-main {
    display: inline-block;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
    margin-bottom: 20px;
}

.info-block-left .img-goods-small {
    display: inline-block;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
    margin-right: 20px;
}

.info-block-left .img-goods-small:last-child {
    margin-right: 0;
}

.info-goods .info-block-right {
    float: left;
    width: 390px;
}

.info-block-right .category {
    font-size: 187.5%;
    margin-top: -10px;
    margin-bottom: 20px;
}

.info-block-right .title-goods {
    margin-bottom: 35px;
}

.info-block-right .block-buy {
    margin-bottom: 32px;
}

.available-article {
    width: 100%;
    margin-bottom: 30px;
}

.available-article .available {
    display: block;
    float: left;
}

.available-article .article {
    display: block;
    float: right;
    color: #aeaeae;
}

.info-block-right .description-goods {
    margin-bottom: 58px;
}

.info-block-right .set {
    list-style: none;
    padding: 30px 0;
}

.info-block-right .set .add-goods {
    position: relative;
    padding-left: 22px;
    margin-bottom: 5px;
}

.info-block-right .set .add-goods:last-child {
    margin-bottom: 0;
}

.info-block-right .set .add-goods::before {
    content: "";
    position: absolute;
    top: 35%;
    left: 0;
    background: #000;
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}
